{% extends "base.html" %}
{% block content %}
    <br>
    <div class="container-fluid border shadow p-3 mb-5 bg-white rounded-lg" data-aos="fade-up">
    <h1 class="text-info">✎ เขียนบทความใหม่</h1>
    <hr>
    <form method="POST" enctype="multipart/form-data" >
        {% csrf_token %}
        <div class="form-group">

            <div class="form-group">
            <label for="formGroupExampleInput2">name</label>
            <input type="text" class="form-control" id="name" name="name" placeholder="ชื่อสินค้า">
            </div>

            <div class="form-group">
            <label for="exampleFormControlFile1">Add Image</label>
            <input type="file" class="form-control-file" id="picture" name="picture">
            </div>

            <div class="form-group">
            <label for="formGroupExampleInput2">Quan</label>
            <input type="number" min="0" max="99" value="0" step="1" class="form-control" id="quanlity" name="quanlity" placeholder="จำนวนสินค้า">
            </div>

            <div class="form-group">
            <label for="formGroupExampleInput2">price</label>
            <input type="number" min="0" value="0" step="0.01" class="form-control" id="price" name="price" placeholder="ราคาสินค้า">
            </div>

            <br>  
            <div class="text-center">         
            <button type="submit" class="btn btn-info btn-lg col-md-3" style="margin-right:10px;">✔️ บันทึกข้อมูล</button>
            <button type="reset" class="btn btn-warning btn-lg col-md-3">⚠️ ล้างข้อมูล</button>
            </div>

        </div>
    </form> 

      </div>  
{% endblock %}
{% block footer %}
{% endblock %}