{% extends 'base.html' %}


{% block content %}

    Cart
    <div class="container">
    <div class="row">
    {% for i in productinfo %}
         <div class="card" style="width: 15rem;">
        <div >ชื่อสินค้า:{{ i.name }}</div>

        <img class="card-img-top" src="{{ i.picture.url }}" width="100" height="180">

        <div>จำนวน:{{i.quanlity }}</div>
            
        <div>ราคา:{{ i.price }}</div>
        <form method="GET" action="">
        {% csrf_token %}
        <button class="btn btn-outline-primary" type="submit" >Delete</button>
        </form>

    </div>
      {% endfor %}
    </div>
    </div>
{% endblock content %}