{% extends 'base.html' %}

ิ{% block content %}

		<h1>ยืนยันการซื้อสินค้า</h1>
		<br><br>
	<form method="POST" enctype="multipart/form-data" >
    {% csrf_token %}
    <div class="form-group">
		{% for i in productone %}
		{% if i.id == productid %}

		<td><input class="form-control" type="text" id="product_list" name="product_list" value={{ i.name }} readonly></td></td>
		<td>
		<input class="form-control" type="number" id="price" name="price" value={{ i.price }} readonly></td>
		
		<td>
		<input class="form-control" type="number" id="unit" name="unit" value="1" readonly></td>
		
		<td>
        <input class="form-control" type="" name="totalprice" id="totalprice" value={{ i.price}} readonly></td>
		<tr><td><h5><br>กรอกที่อยู่ในการจัดส่ง</h5>
			<textarea type="text" rows="4" cols="50" name="location" id="location"></textarea></td></tr>

		{% endif %}
		{% endfor %}
		<button style="float: right;" type="submit" name="order" class="btn btn-warning btn-lg col-md-12" style="margin-right:10px;">ดำเนินการสั่งซื้อสินค้า</button>
	</div>
	</form>

{% endblock content %}