{% extends 'base.html' %}


{% block content %}

    Cart
    <form method="POST" action="">
    <div class="container">
    <div class="row">
    <div class="card" style="width: 15rem;">
        <div >ชื่อสินค้า:{{ productinfo.name }}</div>

        <img class="card-img-top" src="{{ productinfo.picture.url }}" width="100" height="180">

        <div>จำนวน:{{ productinfo.quanlity }}</div>
            
        <div>ราคา:{{ productinfo.price }}</div>
        <form method="POST" action="">
        <button class="btn btn-outline-primary" type="button" >Delete</button>
        </form>
     </div>
    </div>
    </div>
{% endblock content %}